<div class="card m-3">
  <h5 class="card-header">Reactive Form</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-2">
          <label>First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submittedForm && registerFormControl.firstName.errors
            }"
          />
          <div
            *ngIf="submittedForm && registerFormControl.firstName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControl.firstName.errors.required">
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group col-2">
          <label>Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submittedForm && registerFormControl.lastName.errors
            }"
          />
          <div
          *ngIf="submittedForm && registerFormControl.lastName.errors"
          class="invalid-feedback"
        >
          <div *ngIf="registerFormControl.lastName.errors.required">
            Last Name is required
          </div>
        </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-2">
          <label>Date Of Birth</label>
          <input
            type="date"
            formControlName="dateOfBirth"
            class="form-control"
            [ngClass]="{
              'is-invalid': submittedForm && registerFormControl.dateOfBirth.errors
            }"
          />
          <div
          *ngIf="submittedForm && registerFormControl.dateOfBirth.errors"
          class="invalid-feedback"
        >
          <div *ngIf="registerFormControl.dateOfBirth.errors.required">
            Date Of Birth is required
          </div>
        </div>
        </div>
        <div class="form-group col-2">
          <label>Phone Number</label>
          <input
            type="text"
            formControlName="phoneNumber"
            class="form-control"
            [ngClass]="{
              'is-invalid': submittedForm && registerFormControl.phoneNumber.errors
            }"
          />
          <div
          *ngIf="submittedForm && registerFormControl.phoneNumber.errors"
          class="invalid-feedback"
        >
          <div *ngIf="registerFormControl.phoneNumber.errors.required">
            Phone number is required
          </div>
        </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-2">
          <label>Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submittedForm && registerFormControl.email.errors
            }"
          />
          <div
          *ngIf="submittedForm && registerFormControl.email.errors"
          class="invalid-feedback"
        >
          <div *ngIf="registerFormControl.email.errors.required">
            Email is required
          </div>
        </div>
        </div>
      </div>
      <div class="text-left">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
